.post-item {
  padding: 1rem;
  border: 1px solid #ddd;
  margin-bottom: 4rem;
}

.item-cat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 5px;
  border: 1px solid #eee;
}

.cat-label {
    font-weight: bold;
}

.cat-actions button {
  margin-left: 5px;
  cursor: pointer;
}

.post-contents {
  padding: 1rem;
  background: #eee;
}
.post-contents.collapsed {
  max-height: 150px;
  overflow: hidden;
}
